mixin input-field({inpType="text", withExpand=false, inpStyle, labelText})
  -
    const blockName = "input-field";
    const wrapperClass = [blockName];
    const iconClass = ["material-icons", `${blockName}__expand`];
    attributes.type = inpType;
    attributes.class = [`${blockName}__field`];

  case inpType
    when "email"
      - attributes.placeholder = "Email"
      - attributes.name = "email"
    when "password"
      - attributes.placeholder = "Пароль"
      - attributes.name = "password"
    default
      - attributes.type = "text"

  if (/dark/gi.test(inpStyle))
    - iconClass.push(`${blockName}__expand_dark`)

  div(class=wrapperClass)
    if (labelText)
      label(class=`${blockName}__label`) #{labelText}
    input&attributes(attributes)
    if (withExpand)
      i(class=iconClass) expand_more
      //- move to dropdown
