mixin input-field({ inpType='text', labelText })
  -
    const blockName = 'input-field';
    const wrapperClass = [blockName];
    attributes.class = [`${blockName}__field`];

  case inpType
    when 'email'
      - attributes.type = inpType
      - attributes.name = 'email'
      if (!attributes.placeholder)
        - attributes.placeholder = 'Email'
    when 'password'
      - attributes.type = inpType
      - attributes.name = 'password'
      if (!attributes.placeholder)
        - attributes.placeholder = 'Пароль'
    when 'mask-date'
      - wrapperClass.push(`js-${blockName}`)
      - attributes.class.push(`js-${blockName}__field`)
      - attributes.type = 'text'
      - attributes.placeholder = 'ДД.ММ.ГГГГ'
      - attributes['data-inputmask'] = "'alias': 'datetime'"
      - attributes['data-inputmask-inputFormat'] = 'dd.mm.yyyy'
      - attributes['data-inputmask-placeholder'] = 'ДД.ММ.ГГГГ'
    default
      - attributes.type = 'text'

  div(class=wrapperClass)
    if (labelText)
      label(class=`${blockName}__label`) #{labelText}
    input&attributes(attributes)
