include ../button/button.pug

mixin header(options = {})
  -
    const {
      homeHref = '#mock-address',
      navbarList = [],
      loggedIn = false,
      fstBtn = {},
      sndBtn = {},
      account = {},
    } = options;
    const blockName = 'header';
    const wrapperClass = [blockName, `js-${blockName}`];
    const navbarBtnClass = [`${blockName}__navbar-button`, `js-${blockName}__navbar-button`];
    const navbarClass = [`${blockName}__navbar`, `js-${blockName}__navbar`];
    const dropdownClass = [`${blockName}__navbar-list-item`, `js-${blockName}__dropdown`];
    const dropdownTitleClass = [`${blockName}__navbar-link`, `js-${blockName}__dropdown-title`];
    const dropdownIconClass = ['material-icons', `${blockName}__dropdown-icon`, `js-${blockName}__dropdown-icon`];
    const dropdownListClass = [`${blockName}__dropdown-list`, `js-${blockName}__dropdown-list`];
    const navbarLinkClass = [`${blockName}__navbar-link`];

  header(class=wrapperClass)
    div(class=`${blockName}__container`)
      a(class=`${blockName}__logo-link`, href=homeHref)
        img(class=`${blockName}__logo`,
          src='~blocks/header/img/header__logo.svg', alt='Toxin Logo')
      button(class=navbarBtnClass, type='button')
        i(class='material-icons') menu
      nav(class=navbarClass)
        ul(class=`${blockName}__navbar-list`)
          each item in navbarList
            if (!item.dropdownList)
              li(class=`${blockName}__navbar-list-item`)
                - const itemClass = navbarLinkClass.concat(item.bold && `${blockName}__navbar-link_bold`);
                a(class=itemClass, href=item.href) #{item.text}
            else
              li(class=dropdownClass)
                - const itemClass = dropdownTitleClass.concat(item.bold && `${blockName}__navbar-link_bold`);
                span(class=itemClass, tabindex=0) #{item.text}
                  i(class=dropdownIconClass) expand_more
                ul(class=dropdownListClass)
                  each dropdownItem in item.dropdownList
                    li(class=`${blockName}__dropdown-list-item`)
                      a(class=navbarLinkClass, href=dropdownItem.href) #{dropdownItem.text}
        if (!loggedIn)
          div(class=`${blockName}__buttons`)
            span(class=`${blockName}__button`)
              +button({ btnType: 'link', btnText: fstBtn.text, btnStyle: 'ghost' })(href=fstBtn.href)
            span(class=`${blockName}__button`)
              +button({ btnType: 'link', btnText: sndBtn.text })(href=sndBtn.href)
        else
          div(class=`${blockName}__account`)
            a(class=navbarLinkClass, href=account.href) #{account.text}
