include ../dropdown-date/dropdown-date.pug
include ../dropdown-list/dropdown-list.pug
include ../button/button.pug
include ../button-info/button-info.pug

mixin card-book(options = {})
  -
    const {
      roomNumber = 0,
      roomIsLuxury = false,
      roomPrice = 0,
      discountPrice = 0,
      servicePrice = 0,
      addServicePrice = 0,
      formAction = '#mock-address'
    } = options;
    const blockName = 'card-book';
    const wrapperClass = [blockName, `js-${blockName}`];
    const formClass = [`${blockName}__form`, `js-${blockName}__form`];
    const roomPriceClass = [`${blockName}__room-price`, `js-${blockName}__room-price`];
    const formItemClass = [`${blockName}__form-item`, `js-${blockName}__form-item`];
    const dropdownDateClass = [`${blockName}__dropdown-date`, `js-${blockName}__dropdown-date`];
    const roomDaysClass = [`${blockName}__room-days`, `js-${blockName}__room-days`];
    const roomPriceTotalClass = [`${blockName}__room-price-total`, `js-${blockName}__room-price-total`];
    const discountClass = [`${blockName}__discount`, `js-${blockName}__discount`];
    const servicePriceClass = [`${blockName}__service-price`, `js-${blockName}__service-price`];
    const addServicePriceClass = [`${blockName}__addservice-price`, `js-${blockName}__addservice-price`];
    const totalPriceClass = [`${blockName}__total-price`, `js-${blockName}__total-price`];

  div(
    class=wrapperClass,
    data-room-number=roomNumber,
    data-room-luxury=roomIsLuxury,
    data-room-price=roomPrice,
    data-discount=discountPrice,
    data-service-price=servicePrice,
    data-add-service-price=addServicePrice
  )
    form(class=formClass, action=formAction, method='post')
      div(class=`${blockName}__header`)
        span(class=`${blockName}__header-title`)
          | № 
          input(class=`${blockName}__header-room-number`, size='2', readonly,
            name='room-number', value=roomNumber)
          if (roomIsLuxury)
            span(class=`${blockName}__header-room-type`) Люкс
        span(class=`${blockName}__header-description`)
          span(class=roomPriceClass) #{roomPrice}&#8381;
          |  в сутки
      div(class=formItemClass, data-required=true)
        div(class=dropdownDateClass)
          +dropdown-date({
            labelTexts: ['Прибытие', 'Выезд'],
            inputNames: ['date-arrival', 'date-departure'],
            minDate: 'today',
          })
      div(class=formItemClass, data-required=true)
        +dropdown-list({
          withButtons: true,
          labelText: 'Гости',
          inputPlaceholder: 'Сколько гостей',
          inputName: 'guests',
          listItems: [
            {
              combined: true,
              title: 'взрослые',
              names: ['гость', 'гостя', 'гостей'],
              value: 0, minValue: 0, maxValue: 10,
            },
            {
              combined: true,
              title: 'дети',
              names: ['гость', 'гостя', 'гостей'],
              value: 0, minValue: 0, maxValue: 10,
            },
            {
              title: 'младенцы',
              names: ['младенец', 'младенца', 'младенцев'],
              value: 0, minValue: 0, maxValue: 10,
            }
          ],
        })
      div(class=`${blockName}__invoice`)
        div(class=`${blockName}__invoice-item`)
          span(class=`${blockName}__invoice-item-name`)
            span(class=roomPriceClass) #{roomPrice}&#8381;
            |  x 
            span(class=roomDaysClass) 0 суток
          span(class=roomPriceTotalClass) 0&#8381;
        div(class=`${blockName}__invoice-item`)
          span(class=`${blockName}__invoice-item-name`)
            | Сбор за услуги: скидка 
            span(class=discountClass) #{discountPrice}&#8381;
          span(class=`${blockName}__invoice-item-info`)
            +button-info({
              infoText: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
            })
          span(class=servicePriceClass) #{servicePrice}&#8381;
        div(class=`${blockName}__invoice-item`)
          span(class=`${blockName}__invoice-item-name`)
            | Сбор за дополнительные услуги
          span(class=`${blockName}__invoice-item-info`)
            +button-info({
              infoText: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
            })
          span(class=addServicePriceClass) #{addServicePrice}&#8381;
        div(class=`${blockName}__invoice-total`)
          | Итого
          span(class=`${blockName}__invoice-total-dots`)
          span(class=totalPriceClass) 0&#8381;
      div(class=`${blockName}__form-button`)
        +button({ buttonType: 'submit', buttonText: 'Забронировать', withArrow: true })
