mixin list-feature({ listItems = [] } = {})
  -
    const blockName = 'list-feature';
    const wrapperClass = [blockName];
    const iconClass = ['material-icons', `${blockName}__icon`];
    const iconMap = {
      'Комфорт': 'insert_emoticon',
      'Удобство': 'location_city',
      'Уют': 'whatshot',
    };

  ul(class=wrapperClass)
    each item in listItems
      li(class=`${blockName}__item`)
        i(class=iconClass) #{iconMap[item.text] || 'stars'}
        div(class=`${blockName}__text`)
          span(class=`${blockName}__title`) #{item.text}
          span(class=`${blockName}__description`) #{item.description}
