mixin button({ buttonType = 'button', buttonText = '', withArrow = false, buttonStyle } = {})
  -
    const blockName = 'button';
    const blockAttributes = {
      type: buttonType === 'link' ? undefined : buttonType,
      class: [blockName],
    };
    const iconClass = ['material-icons', `${blockName}__arrow`];
    const buttonTag = buttonType === 'link' ? 'a' : 'button';

  if (buttonStyle)
    each style in buttonStyle.split(' ')
      - blockAttributes.class.push(`${blockName}_style_${style}`)

  #{buttonTag}&attributes(Object.assign({}, attributes, blockAttributes)) #{buttonText}
    if (withArrow)
      i(class=iconClass) arrow_forward
