mixin button({ btnType = 'button', btnText = '', withArrow = false, btnStyle } = {})
  -
    const blockName = 'button';
    const blockAttributes = {
      type: btnType === 'link' ? undefined : btnType,
      class: [blockName],
    };
    const iconClass = ['material-icons', `${blockName}__arrow`];
    const btnTag = btnType === 'link' ? 'a' : 'button';

  if (btnStyle)
    each style in btnStyle.split(' ')
      - blockAttributes.class.push(`${blockName}_${style}`)

  #{btnTag}&attributes(Object.assign({}, attributes, blockAttributes)) #{btnText}
    if (withArrow)
      i(class=iconClass) arrow_forward
