mixin button({ btnType="button", btnText="", withArrow=false, btnStyle })
  -
    const blockName = "button";
    let btnTag;
    attributes.class = [blockName];

  if (btnStyle)
    each style in btnStyle.split(" ")
      - attributes.class.push(`${blockName}_${style}`)

  case btnType
    when "link"
      - btnTag = "a"
    default
      - btnTag = "button"
      - attributes.type = btnType

  #{btnTag}&attributes(attributes) #{btnText}
    if (withArrow)
      i(class=`material-icons ${blockName}__arrow`) arrow_forward
