mixin input-checkbox({ labelText="", labelDescription, inpStyle, addAttributes })
  -
    const blockName = "input-checkbox";
    const wrapperClass = [blockName];
    attributes.type = "checkbox";
    attributes.class = `${blockName}__state`;

    for (let attr in addAttributes) {
      attributes[attr] = addAttributes[attr];
    }

  if (/rich/gi.test(inpStyle))
    - wrapperClass.push(`${blockName}_rich`)

  label(class=wrapperClass) #{labelText}
    if (labelDescription && /rich/gi.test(inpStyle))
      span(class=`${blockName}__description`) #{labelDescription}
    input&attributes(attributes)
    div(class=`${blockName}__box`)
      div(class=`${blockName}__mark`)
