mixin input-checkbox({ labelText = '', labelDescription, inpStyle, addAttributes } = {})
  -
    const blockName = 'input-checkbox';
    const blockAttributes = {
      type: 'checkbox',
      class: `${blockName}__state`,
    };
    const wrapperClass = [blockName];

  if (inpStyle)
    each style in inpStyle.split(' ')
      - wrapperClass.push(`${blockName}_${style}`)

  label(class=wrapperClass) #{labelText}
    if (labelDescription)
      span(class=`${blockName}__description`) #{labelDescription}
    input&attributes(Object.assign({}, attributes, addAttributes, blockAttributes))
    span(class=`${blockName}__box`)
      span(class=`${blockName}__mark`)
