mixin input-radio({ labelText = '', addAttributes } = {})
  -
    const blockName = 'input-radio';
    const blockAttributes = {
      type: 'radio',
      class: `${blockName}__state`,
    };
    const wrapperClass = [blockName];

  label(class=wrapperClass)
    input&attributes(Object.assign({}, attributes, addAttributes, blockAttributes))
    span(class=`${blockName}__text`) #{labelText}
    span(class=`${blockName}__box`)
      span(class=`${blockName}__mark`)
