mixin input-radio({ labelText='', addAttributes })
  -
    const blockName = 'input-radio';
    const wrapperClass = [blockName];
    attributes.type = 'radio';
    attributes.class = `${blockName}__state`;

    for (let attr in addAttributes) {
      attributes[attr] = addAttributes[attr];
    }

  label(class=wrapperClass)
    input&attributes(attributes)
    span(class=`${blockName}__text`) #{labelText}
    span(class=`${blockName}__box`)
      span(class=`${blockName}__mark`)
