include ../button-like/button-like.pug

mixin comment(options = {})
  -
    const {
      userName = '',
      userPicture = 'comment__picture_default.png',
      date = '',
      text = '',
      likeCount = 0,
      likeActive = false,
    } = options;
    const blockName = 'comment';
    const wrapperClass = [blockName, `js-${blockName}`];
    const pictureClass = [`${blockName}__picture`, `js-${blockName}__picture`];
    const likeClass = [`${blockName}__like`, `js-${blockName}__like`];
    const nameClass = [`${blockName}__name`, `js-${blockName}__name`];
    const dateClass = [`${blockName}__date`, `js-${blockName}__date`];
    const textClass = [`${blockName}__text`, `js-${blockName}__text`];

  div(class=wrapperClass)
    div(class=`${blockName}__header`)
      img(
        class=pictureClass,
        alt='Profile picture',
        src=`~blocks/comment/img/${userPicture}`
      )
      span(class=likeClass)
        +button-like({ likeCount: likeCount, active: likeActive })
    div(class=`${blockName}__body`)
      div(class=`${blockName}__title`)
        span(class=nameClass)
          | #{userName}
        span(class=dateClass)
          | #{date}
      span(class=textClass)
        | #{text}
