include ../carousel/carousel.pug
include ../rating/rating.pug

mixin card-room(options = {})
  -
    const {
      roomHref = '#mock-address',
      roomNumber = 0,
      roomIsLuxury = false,
      roomPrice = 0,
      roomRating = 0,
      roomReviews = 0,
      carouselImgSrcList = [],
    } = options;
    const blockName = 'card-room';
    const wrapperClass = [blockName, `js-${blockName}`];
    const carouselClass = [`${blockName}__carousel`, `js-${blockName}__carousel`];
    const infoClass = [`${blockName}__info`, `js-${blockName}__info`];
    const roomNumberClass = [`${blockName}__room-number`, `js-${blockName}__room-number`];
    const roomTypeClass = [`${blockName}__room-type`, `js-${blockName}__room-type`];
    const roomPriceClass = [`${blockName}__room-price`, `js-${blockName}__room-price`];
    const roomRatingClass = [`${blockName}__room-rating`, `js-${blockName}__room-rating`];
    const roomReviewsClass = [`${blockName}__room-reviews`, `js-${blockName}__room-reviews`];

  div(
    class=wrapperClass,
    data-room-number=roomNumber,
    data-room-luxury=roomIsLuxury,
    data-room-price=roomPrice,
    data-room-rating=roomRating,
    data-room-reviews=roomReviews
  )
    div(class=carouselClass)
      +carousel({
        imgSrcList: carouselImgSrcList,
      })
    a(class=infoClass, href=roomHref)
      div(class=`${blockName}__header`)
        span(class=`${blockName}__title`)
          | № 
          span(class=roomNumberClass) #{roomNumber}
          if (roomIsLuxury)
            span(class=roomTypeClass) Люкс
          else
            span(class=roomTypeClass)
        span(class=`${blockName}__description`)
          span(class=roomPriceClass) #{roomPrice}&#8381;
          |  в сутки
      div(class=`${blockName}__footer`)
        span(class=roomRatingClass)
          +rating({ value: roomRating })
        span(class=`${blockName}__room-reviews`)
          b(class=roomReviewsClass) #{roomReviews}
          |  Отзывов
