include ../input-field/input-field.pug
include ../button/button.pug

mixin dropdown-list({ listItems=[], labelText, inpName, inpPlaceholder, withButtons=false, active=false })
  -
    const blockName = 'dropdown-list';
    const wrapperClass = [blockName, `js-${blockName}`];
    const inputClass = [`${blockName}__input`, `js-${blockName}__input`];
    const iconClass = ['material-icons', `${blockName}__icon`, `js-${blockName}__icon`];
    const listClass = [`${blockName}__list`, `js-${blockName}__list`];
    const itemClass = [`${blockName}__item`, `js-${blockName}__item`];
    const itemBtnClass = [`${blockName}__item-btn`, `js-${blockName}__item-btn`];
    const itemCounterClass = [`${blockName}__item-counter`, `js-${blockName}__item-counter`];
    const resetBtnClass = [`${blockName}__btn`, `js-${blockName}__btn_reset`];
    const acceptBtnClass = [`${blockName}__btn`, `js-${blockName}__btn_accept`];

  if (withButtons)
    - wrapperClass.push(`${blockName}_wide`)

  div(class=wrapperClass, data-active=active)
    div(class=inputClass)
      +input-field({labelText: labelText})(name=inpName, placeholder=inpPlaceholder, readonly)
      i(class=iconClass) expand_more
    div(class=listClass)
      each item in listItems
        div(
          class=itemClass,
          data-names=item.names.join(','),
          data-value=item.value,
          data-min-value=item.minValue,
          data-max-value=item.maxValue,
          data-combined=item.combined
        )
          span(class=`${blockName}__item-name`) #{item.title}
          span(class=`${blockName}__item-controls`)
            button(class=itemBtnClass, type='button') -
            span(class=itemCounterClass) #{item.value}
            button(class=itemBtnClass, type='button') +
      if (withButtons)
        div(class=`${blockName}__buttons`)
          div(class=resetBtnClass)
            +button({ btnText: 'Очистить', btnStyle: 'as-text as-text_faint' })
          div(class=acceptBtnClass)
            +button({ btnText: 'Применить', btnStyle: 'as-text' })
