include ../input-field/input-field.pug
include ../button/button.pug

mixin dropdown-list({ listItems = [], labelText, inputName, inputPlaceholder, withButtons = false, active = false } = {})
  -
    const blockName = 'dropdown-list';
    const wrapperClass = [blockName, `js-${blockName}`, withButtons && `${blockName}_width_wide`];
    const inputClass = [`${blockName}__input`, `js-${blockName}__input`];
    const listClass = [`${blockName}__list`, `js-${blockName}__list`];
    const itemClass = [`${blockName}__item`, `js-${blockName}__item`];
    const itemButtonClass = [`${blockName}__item-button`, `js-${blockName}__item-button`];
    const itemCounterClass = [`${blockName}__item-counter`, `js-${blockName}__item-counter`];
    const buttonClass = [`${blockName}__button`, `js-${blockName}__button`];

  div(class=wrapperClass, data-active=active)
    div(class=inputClass)
      +input-field({ inputType: 'dropdown', labelText: labelText })(name=inputName, placeholder=inputPlaceholder, readonly)
    div(class=listClass)
      each item in listItems
        div(
          class=itemClass,
          data-names=item.names.join(','),
          data-value=item.value,
          data-min-value=item.minValue,
          data-max-value=item.maxValue,
          data-combined=item.combined
        )
          span(class=`${blockName}__item-name`) #{item.title}
          span(class=`${blockName}__item-controls`)
            button(class=itemButtonClass, type='button') -
            span(class=itemCounterClass) #{item.value}
            button(class=itemButtonClass, type='button') +
      if (withButtons)
        div(class=`${blockName}__buttons`)
          div(class=buttonClass, data-action="reset")
            +button({ buttonText: 'Очистить', buttonStyle: 'text-faint' })
          div(class=buttonClass, data-action="accept")
            +button({ buttonText: 'Применить', buttonStyle: 'text' })
