mixin input-toggle({ labelText = '' } = {})
  -
    const blockName = 'input-toggle';
    const blockAttributes = {
      type: 'checkbox',
      class: `${blockName}__state`,
    };
    const wrapperClass = [blockName];

  label(class=wrapperClass) #{labelText}
    input&attributes(Object.assign({}, attributes, blockAttributes))
    span(class=`${blockName}__box`)
      span(class=`${blockName}__mark`)
