mixin button-like({ likeCount=0, active=false })
  -
    const blockName = 'button-like';
    attributes.type = 'button';
    attributes.title = likeCount;
    attributes['data-active'] = active;
    attributes.class = [blockName, `js-${blockName}`];
    const iconClass = ['material-icons', `${blockName}__icon`, `js-${blockName}__icon`]
    let icon = 'favorite_border';
    const counterClass = [`${blockName}__counter`, `js-${blockName}__counter`];

  if (active)
    - attributes.class.push(`${blockName}_active`)
    - icon = 'favorite'

  button&attributes(attributes)
    i(class=iconClass) #{icon}
    span(class=counterClass) #{likeCount}
