mixin button-like({ likeCount = 0, active = false } = {})
  -
    const blockName = 'button-like';
    const blockAttributes = {
      type: 'button',
      class: [blockName, `js-${blockName}`, active && `${blockName}_active`],
      title: likeCount,
      'data-active': active,
    };
    const iconClass = ['material-icons', `${blockName}__icon`, `js-${blockName}__icon`];
    const counterClass = [`${blockName}__counter`, `js-${blockName}__counter`];
    const icon = active ? 'favorite' : 'favorite_border';

  button&attributes(Object.assign({}, attributes, blockAttributes))
    i(class=iconClass) #{icon}
    span(class=counterClass) #{likeCount}
