mixin button-like({ likeCount=0, active=false })
  -
    const blockName = "button-like";
    let icon = "favorite_border";
    attributes.type = "button";
    attributes.class = [blockName, `js-${blockName}`];

  if (active)
    - attributes.class.push(`${blockName}_active`)
    - icon = "favorite"

  button&attributes(attributes)
    i(class=`material-icons ${blockName}__icon js-${blockName}__icon`) #{icon}
    span(class=`${blockName}__counter js-${blockName}__counter`) #{likeCount}
