include ../input-field/input-field.pug

mixin dropdown-date({ labelTexts = [], inputNames = [], startAt, endAt, minDate, active = false } = {})
  -
    const blockName = 'dropdown-date';
    const isDoubleInput = inputNames.length > 1;
    const wrapperClass = [blockName, `js-${blockName}`];
    const inputClass = [`${blockName}__input`, `js-${blockName}__input`, isDoubleInput && `${blockName}__input_small`];
    const secondInputClass = [`${blockName}__input`, `js-${blockName}__input-second`, `${blockName}__input_small`];
    const iconClass = ['material-icons', `${blockName}__icon`, `js-${blockName}__icon`];
    const inputPlaceholder = isDoubleInput ? 'ДД.ММ.ГГГГ' : 'ДД.ММ \u2013 ДД.ММ';

  div(
    class=wrapperClass,
    data-active=active,
    data-start-at=startAt,
    data-end-at=endAt,
    data-min-date=minDate
  )
    div(class=`${blockName}__inputs`)
      div(class=inputClass)
        +input-field({labelText: labelTexts[0]})(name=inputNames[0], placeholder=inputPlaceholder, readonly)
        i(class=iconClass) expand_more
      if (isDoubleInput)
        div(class=secondInputClass)
          +input-field({labelText: labelTexts[1] || labelTexts[0]})(name=inputNames[1], placeholder=inputPlaceholder, readonly)
          i(class=iconClass) expand_more
