include ../input-checkbox/input-checkbox.pug

mixin list-checkbox({ listItems = [], listTitle = '', expandable = false, active = false } = {})
  -
    const blockName = 'list-checkbox';
    const wrapperClass = [blockName];
    const headerClass = [`${blockName}__header`];
    const iconClass = ['material-icons', `${blockName}__icon`, `js-${blockName}__icon`];
    const listClass = [`${blockName}__list`];

  if (expandable)
    - wrapperClass.push(`js-${blockName}`)
    - headerClass.push(`js-${blockName}__header`)
    - listClass.push(`js-${blockName}__list`)

  div(class=wrapperClass, data-active=active)
    div(class=headerClass, tabindex=1)
      span(class=`${blockName}__title`) #{listTitle}
      if (expandable)
        i(class=iconClass) expand_more
    ul(class=listClass)
      each item in listItems
        li(class=`${blockName}__item`)
          +input-checkbox(item)
