include ../../blocks/input-checkbox/input-checkbox.pug

mixin list-checkbox({listItems=[], listTitle="", expandable=false})
  -
    const blockName = "list-checkbox";
    const wrapperClass = [blockName];

  if (expandable)
    - wrapperClass.push(`js-${blockName}`)

  div(class=wrapperClass)
    div(class=`${blockName}__header`)
      span(class=`${blockName}__title`) #{listTitle}
      if (expandable)
        i(class=`material-icons ${blockName}__icon`) expand_more
    ul(class=`${blockName}__list`)
      each item in listItems
        li(class=`${blockName}__item`)
          +input-checkbox(item)
